<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DateTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EEC5FA51BE9BD2500EE5209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EEC5FBE1BE9BD2600EE5209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EEC5FC91BE9BD2600EE5209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
